<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    <link rel="stylesheet" href="{{ url_for_with_cached('static', filename='css/pygments.css', version='11234') }}">#}
    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets 'common_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
{{ greeting('benjamin') }}
{% autoescape false %}
{% code 'python' %}
    from flask import render_template

    from app.h5 import h5


    @h5.route('/preview', methods=['GET'])
    def preview():
    return render_template('h5/preview.html')

{% endcode %}
{% endautoescape %}
</body>
</html>